<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title"> <%= notification.to_notification.message %> </h5>

        <a href="<%= notification.to_notification.url %>" class="mt-4 btn btn-primary">View Order</a>
    </div>
</div>