<%= form_with model: @group do |form| %>
<div class="d-flex g-3 justify-content-sm-center">
  <div class="col-1 align-self-center">
    <%= form.label :name, "Group", class: "col-form-label fw-bold" %>
  </div>
  <div class="col-6 align-self-center m-2">
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="col-1 align-self-center">
    <%= form.submit "Add", class: "btn btn-primary" %>
  </div>
</div>
<% end %>