<%= render 'layouts/navigation' %>
<div>
    <h1>Groups</h1>
</div>


<%= render 'form' %>
<div class="row col-md-12">
    <div class="row col-md-6 ">
        <table class="table  table-hover  text-center ">
            <thead class="table-dark">
                <tr>
                    <th colspan="3">My Grounps</th>
                </tr>
            </thead>
            <%= render @groups %>
            <tbody>
            </tbody>
        </table>

    </div>

    <div class="row col-md-6 ">

    </div>

</div>