


<h2 class="text-center" style="margin-top: 15px">My Profile</h2>




<%= render 'form', user: @user %>

<br><br>
<%= link_to (image_tag("back.png",style: 'height:50px;width:50;margin-left:10%')), home_index_path %>
