<tr><td>
<a href="<%= order_path(latest_order) %>"> <%= latest_order.meal_type.capitalize  %> at <%= latest_order.restaurant.capitalize  %> </a><br><br>
<p class="blockquote-footer"> on <%= latest_order.created_at %> </p>
</td></tr>





