<%= render 'layouts/navigation' %>

<div class="container">
    <div class="latest-orders text-center">
        <h3>Latest Orders</h3>
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
    </div>

    <div class="friends-activity text-center">
        <h3>Friends Activity </h3>

        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
        <a href="#"> any thing</a><br />
    </div>
</div>