<%= render 'layouts/navigation' %>



<div class="row col-md-12 justify-content-center" style="top:0%; left:0%; right: 0%; max-height: 400px;">

    <div class="row col-md-5" style="top:0%; left:0% ; right: 0%; max-height: 400px;">
        <table class="table  table-striped table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Latest Orders</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>

                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="rom col-md-1"></div>

    <div class="row col-md-5 overflow-auto " style="top:0%; left:0% ;  right: 0%; max-height: 400px;">
        <table class="table  table-striped table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Friends Activities</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>

                </tr>
                <tr>
                    <td>Jacob</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>