<%= render 'layouts/navigation' %>



<div class="container">

    <div class="latest-orders text-center">
        <h3>Latest Orders</h3>
        <%= render partial: "latest_order", collection: @latest_orders %>
    </div>


    <div class="friends-activity text-center">
        <h3>Friends Activity </h3>
        <% @friends.each do |friend| %>
        <%= render partial: "friends_activities", collection: friend.orders.order(created_at: :desc).limit(5) %>
        <% end %>
    </div>

</div>