.row {
  margin-top: 15px;
}

// .btn {
//   width: 100%;
//   padding: 12px;
//   border: none;
//   border-radius: 25px;
//   margin: 5px 0;
//   opacity: 0.85;
//   display: inline-block;
//   font-size: 17px;
//   line-height: 20px;
// }

// .btn:hover {
//   opacity: 1;
//   color: white;
//   cursor: pointer;
// }

.fb {
  background-color: #3b5998;
  color: white;
  padding: 10px;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.github {
  background-color: black;
  color: white;
}

/* style the submit button */
.input[type="submit"] {
  color: white;
  cursor: pointer;
}

.devise {
  background-image: url("122031659-greek-food-background-traditional-different-greek-dishes-top-view-.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

* {
  font-size: large;
}

a {
  text-decoration: none;
}
html {
  height: 100%;
}


